In [2]:
# importing packages
import pandas as pd
import requests
from bs4 import BeautifulSoup
url= "https://en.wikipedia.org/wiki/Statistics_of_the_COVID-19_pandemic_in_the_United_States"
page = requests.get(url) 
soup= BeautifulSoup(page.content,"html.parser")

In [3]:
#scraping the tag 'table' with a class of wikitable.
table= soup.find("table", class_= "wikitable") 

#finding all of the rows inside the variable table
rows= table.findAll('tr')

#creating a matrix for each column
State=[]
Cases=[]
Deaths=[]
Recov=[]
Hosp=[]

# creating a loop for each row of table data
for row in rows:
    cells = row.findAll('td')
    th = row.findAll('th')
###one row of data has a length of 5. defining the loop and then appending them into respective columns
    if len(cells) ==5:
###information on state is located in the table heading and NOT table data
        State.append(th[1].find(text=True).rstrip("\n")) 
        Cases.append(cells[0].find(text=True).rstrip("\n"))
        Deaths.append(cells[1].find(text=True).rstrip("\n"))
        Recov.append(cells[2].find(text=True).rstrip("\n"))
        Hosp.append(cells[3].find(text=True).rstrip("\n"))
        print(cells)
        print(th)

In [5]:
#filling in the blanks of the matrix with the data we scrapped
df = pd.DataFrame()
df['States']= State
df['Cases']= Cases
df['Deaths']= Deaths
df['Recoveries']= Recov
df['Hospitalizations']= Hosp
df

                      States      Cases  Deaths Recoveries Hospitalizations
0                    Alabama    516,266  10,607    275,245           45,250
1                     Alaska     60,723     313      7,165            1,260
2             American Samoa          3       0          –                –
3                    Arizona    843,132  16,989          –           57,072
4                   Arkansas    330,609   5,636    306,382           14,617
5                 California  3,573,074  58,269          –                –
6                   Colorado    463,685   6,117          –           23,293
7                Connecticut    313,956   7,904          –           12,257
8                   Delaware     95,590   1,565     18,371                –
9       District of Columbia     44,807   1,069     28,532                –
10                   Florida  2,071,015  33,586          –           78,472
11                   Georgia  1,062,555  19,176          –           55,167
12                      Guam      7,749     133      7,377                –
13                    Hawaii     29,794     463     11,385            2,196
14                     Idaho    180,897   1,963     92,573            7,007
15                  Illinois  1,251,346  23,626          –                –
16                   Indiana    688,916  12,662    429,382           42,557
17                      Iowa    380,738   5,754    286,309                –
18                    Kansas    302,873   4,932          –            9,103
19                  Kentucky    428,527   6,129     47,067           18,768
20                 Louisiana    445,469  10,161    396,834                –
21                     Maine     51,189     744     12,772            1,511
22                  Maryland    414,385   8,319          –           34,577
23             Massachusetts    638,339  17,217    477,796           19,176
24                  Michigan    759,600  17,194    529,080                –
25                 Minnesota    524,203   6,864    467,147           25,528
26               Mississippi    305,701   7,051    273,437            9,012
27                  Missouri    490,321   8,501          –                –
28                   Montana    104,853   1,454     95,772            4,554
29                  Nebraska    209,896   2,181    142,336            6,048
30                    Nevada    304,112   5,256          –                –
31             New Hampshire     84,539   1,245     70,040            1,095
32                New Jersey    914,422  24,591          –           63,190
33                New Mexico    191,945   3,942    135,608           12,989
34                  New York  1,875,107  40,635    143,659           89,995
35            North Carolina    916,159  12,136    795,521                –
36              North Dakota    103,460   1,466     97,286            3,859
37  Northern Mariana Islands        144       2         29                4
38                      Ohio  1,021,718  18,643    894,113           49,651
39                  Oklahoma    439,149   4,953    401,945           23,700
40                    Oregon    165,524   2,385          –            8,457
41              Pennsylvania  1,033,406  25,148    816,884                –
42               Puerto Rico    206,420   2,121          –                –
43              Rhode Island    138,255   2,630          –            8,835
44            South Carolina    554,031   9,179          –                –
45              South Dakota    118,186   1,938    107,745            6,548
46                 Tennessee    813,614  11,915    738,731           18,311
47                     Texas  2,790,160  47,639  2,518,534                –
48         US Virgin Islands      2,714      25      2,483                –
49                      Utah    386,550   2,131    346,157           14,520
50                   Vermont     19,755     228     11,907                –
51                  Virginia    622,339  10,279          –           41,373
52                Washington    365,762   5,255          –           19,110
53             West Virginia    142,653   2,688    119,337                –
54                 Wisconsin    637,801   7,336    545,562           25,838
55                   Wyoming     56,389     700     52,688            1,373

In [62]:
#replacing string values as integer values to use .describe function
df["Cases"]=df["Cases"].str.replace(",","")
df["Deaths"]=df["Deaths"].str.replace(",","")
df["Cases"]=df["Cases"].astype(int)
df["Deaths"]=df["Deaths"].astype(int)
df.dtypes

AttributeError: Can only use .str accessor with string values!

In [63]:
#using describe function to show quality of data.
df[['Cases','Deaths']].describe()

              Cases        Deaths
count  5.600000e+01     56.000000
mean   5.305899e+05   9451.714286
std    6.623449e+05  11828.195634
min    3.000000e+00      0.000000
25%    1.126418e+05   1824.500000
50%    3.642365e+05   5604.000000
75%    6.412030e+05  11736.750000
max    3.541928e+06  56072.000000

In [54]:
#exporting csv file into my documents folder
df.to_csv(r'C:\Users\willi\Documents\Cis3120\WilliamZhuHW2', index = False)